<!DOCTYPE html>
<html ng-app="TeamApp">
    <head>
        <title>Prototype App</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
        <script src="team.js"></script>
    </head>
    <body>
    <div ng-controller="TeamController as data">
        <form ng-submit="comp.index()" action="load.html">
            <input ng-model="TeamNumber" type="number" min="1" placeholder="Team Number"/>
            <br /><br />
            <label><input ng-model="TeamColor" type="radio" value="Blue" />Blue Alliance</label>
            <label><input ng-model="TeamColor" type="radio" value="Red" />Red Alliance</label>
            <br /><br />
            <input ng-model="MatchNumber" type="number" min="1" placeholder="Match Number" />
            <br /><br />
            <p>This competition: {{comp.name}}, {{comp.year}}</p>
            <br />
            <input type="submit" value="Continue" />
        </form>
        </div>
    </body>
</html>